body {
    font-family     : sans-serif;
    background-color: rgb(216, 216, 216);
    margin          : auto;
    width           : 1000px;
}

.header {
    box-shadow      : 0px 1px 0px 0px grey;
    border          : solid 1px gray;
    border-radius   : 3px;
    background-color: aqua;
    height          : 150px;
    margin-bottom   : 5px;
    display         : flex;

}

.header .logo {

    background-image   : url("logo.png");
    background-size    : contain;
    background-color   : rgb(1, 181, 194);
    background-repeat  : no-repeat;
    background-position: center;
    width              : 30%;
}

.header .banner {
    border-top-right-radius   : inherit;
    border-bottom-right-radius: inherit;
    background-color          : rgb(1, 181, 194);
    width                     : 100%;
}

.nav-bar {
    box-shadow      : 0px 1px 0px 0px grey;
    border          : solid 1px gray;
    border-radius   : 3px;
    background-color: rgb(122, 195, 255);
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    align-items     : center;
    height          : 50px;

    margin-top   : 5px;
    margin-bottom: 5px;
}

.nav-left {

    height: inherit;
}

.nav-left :not(:first-child) {
    border-left: solid 1px grey;
}

.nav-left-item {
    font-style     : bold;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    height         : inherit;
    margin         : auto;
    text-align     : center;
    float          : left;
    padding-left   : 20px;
    padding-right  : 20px;

}

.nav-left-item:hover {
    cursor: pointer;
    color : orangered;
}

.main {
    box-shadow      : 0px 1px 0px 0px grey;
    border          : solid 1px gray;
    border-radius   : 3px;
    background-color: white;
    justify-content : space-between;
    display         : flex;
    margin-top      : 5px;
    margin-bottom   : 5px;
}

.main-left {
    padding: 10px;
    height : 500px;
    width  : 150px;
}

.main-left-item {}

.main-left-item:not(:first-child) {
    margin-top: 10px;
}

.main-left-item .item {
    padding: 2px 0px 5px 10px;
}

.main-center {
    padding: 10px;
    border : solid 1px black;
    height : 500px;
    width  : 650px;
}

.main-right {
    padding: 10px;
    height : 500px;
    width  : 170px;
}




.footer {
    margin-top      : 5px;
    margin-bottom   : 5px;
    box-shadow      : 1px 1px 1px grey;
    border          : solid 1px gray;
    border-radius   : 3px;
    background-color: rgb(122, 195, 255);
    align-items     : center;
    height          : 30px;
    border          : solid 1px black;
    display         : flex;
    justify-content : space-between;
}

.footer-left {
    padding-left: 10px;
}

.footer-right :not(:first-child) {
    border-left: solid 1px black;
}

.footer-right-item {
    text-decoration: underline;
    margin         : auto;
    text-align     : center;
    float          : left;
    padding-left   : 20px;
    padding-right  : 20px;
}

.footer-right-item:hover {
    cursor: pointer;
    color : orangered;
}