body{display: flex;
    justify-content: center;
}
#content{
    border:solid 1px gray;
    width: 800px;
    padding: 5px;
}

.title h1{ 
    color: gray;
}
.menu ul{
    padding: 0px;
    display: flex;
    flex-direction: row;
    list-style-type:none;
    justify-content: space-between;
}
.menu ul li{
    text-align: center;
    width: 130px;
    padding: 5px;
    color: white;
    background-color: black;
    text-decoration: none;
    border: solid 1px gainsboro;
}
.menu ul li:hover{
    cursor: pointer;
    background-color: rgb(78, 77, 77);
}
.content h1{
    color: gray;
}
.content div .link{
    text-decoration: underline;
}
.content div .link:hover{
    cursor: pointer;
    color: red;
}

.Side-Bar{
    display: none;
}
